// Specific CSS for your home-page
body{
  background-color:#090e23;
}
.hero-header{
  color: #ffffff;
  font-family: "Rozha One", Sans-serif;
  text-align:center;
  font-size: 4.8rem;
  font-weight: 500;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: none;
  line-height: 0.8em;
  letter-spacing: 0px;
  z-index:1;
}
.hero-para{
  color: #ffffff;
  font-family: "Lusitana", Sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.5em;
  z-index: 2;
  margin-bottom: 40px;
}
.video_overlay{
  background-color: transparent;
  background-image: linear-gradient(180deg, #0f173f 0%, #090f23 100%);
  opacity: 1;
  mix-blend-mode: color;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.home_video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  object-fit: cover;
  left:0;
  opacity: 0.14;
  mix-blend-mode: lighten;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.text_video{
  text-align:center;

  padding: 3em 0em 3em 0em;
}
.background_overlay {
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
}
.background_overlay{
  background-color: transparent;
  background-image: linear-gradient(180deg, #0f173f 0%, #090f23 100%);
  opacity: 1;
  mix-blend-mode: color;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.text_section{
  padding-top: 30px;
}
.button_main_div{
  margin-top: 10px;
  position:relative;
  z-index:1;
  width:100%;
}
.line_home{
  position:relative;
  z-index:1;
}
.section_usluge{
  margin-top:80px;
  hr{
    border-top:1px solid #1a2659;
  }
}
.text_section_header{
  color: #ffffff;
  font-family: "Rozha One", Sans-serif;
  font-size: 4rem;
  font-weight: 500;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: none;
  line-height: 0.8em;
  letter-spacing: 0px;
}
.text_section_para{
  color: #ffffff;
  font-family: "Lusitana", Sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5em;
  margin-bottom: 40px;
}
.jedna_cjena{
  background-color: transparent;
  background-image: linear-gradient(90deg, #161f3f 0%, rgba(242,41,91,0) 100%);
}

.banner {
  margin-left: calc(50% - 50vw);
  width: 100vw; height: 37.5vmin;
  min-height: 15em;
  background: image-url("4.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  filter: brightness( 102% ) contrast( 109% ) saturate( 1% ) blur( 2.6px ) hue-rotate( 0deg );
  opacity: 0.14;
  mix-blend-mode: lighten;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  position:absolute;
}
.banner_main{
  min-height: 30vh;
  position: relative;
}
.banner_text_over{
  padding-top:40px;
}
.text_section_banner{
  color: #ffffff;
  font-family: "Lusitana", Sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.5em;
  margin-bottom: 40px;
}
.text_header_banner{
  color: #ffffff;
  font-family: "Rozha One", Sans-serif;
  font-size: 3.5rem;
  font-weight: 500;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: none;
  line-height: 0.8em;
  letter-spacing: 0px;
}


@media screen and (max-width: 600px) {
  .section_usluge{
    text-align:center;
  }
  .home_video{
    height:90vh;
  }
  .hero-header{
    font-size: 4rem;
  }
  .text_section_header{
    font-size: 3em;
  }
  .hero-para{
    font-size: 1rem;
  }
  .banner{
    min-height:26em;
  }
  .banner_text_over{
    text-align:center;
  }
}
@media screen and (max-width: 500px) {
  .section_usluge{
    margin-top:170px;
  }
  }

  .hero_footer{
    background: image-url( "backgroundfooter.webp" );
    height:80vh;
    margin-left: calc(50% - 50vw);
    width: 100vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.14;
    mix-blend-mode: lighten;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }

  .ponuda_tab{
    background-color:#ffffff;
    padding: 10px 15px;
    max-height: 30vh;
    text-align:center;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #ffffff;
    box-shadow: 0px 0px 100px -24px grey inset;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    position: absolute;
    margin-top: 22px;
  }
  .ponuda_section_header{
    color: #101023;
    font-family: "Rozha One", Sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: -0.5px;
  }
  .ponuda_section_para{
    color: #0e1328;
    font-family: "Lustria", Sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-transform: capitalize;
    font-style: italic;
    line-height: 0.1em;
    z-index: 2;
  }
  .image_ponuda{
    width:700px;
  }

  @media screen and (max-width: 500px) {
    .ponuda_tab{
      right:auto;
      .button_main {
        font-size: 0.7rem;
      }
    }
    .hero_footer{
      height:80vh;
    }
     .image_ponuda{
    width:100%;
  }
  }
    @media screen and (min-width: 800px) {
    .ponuda_tab{
      right: 28%;
    }
  }


