// Specific CSS for your home-page
body{
  background-color:#090e23;
}
.hero1{

  }
.hero-header{
  color: #ffffff;
  font-family: "Rozha One", Sans-serif;
  text-align:center;
  font-size: 4.8rem;
  font-weight: 500;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: none;
  line-height: 0.8em;
  letter-spacing: 0px;
}
.hero-para{
  color: #ffffff;
  font-family: "Lusitana", Sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.5em;
  z-index: 2;
}
