@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.mapaicon{
  font-size: 41px;
  color:#ffffff;
}
.info{
  text-align: right;
}
.kontakt_hr{
  float:right;
}
.kontakt_info{
  float:left;
}
.kontakt_hr_2{
  float:left;
}
@media screen and (max-width: 500px) {
  .info{
    text-align: center;
  }
  .mapaicon{
    margin-top:20px;
  }
  .kontakt_hr{
    float:none;
    margin-bottom:0;
  }
  .kontakt_hr_2{
    float:none;
  }
  .kontakt_info{
    text-align: center;
  }
  .kontakt{
    margin-top:50px;
    margin-bottom:20px;
  }
}

.forma{
 background: #090E1D;
 color:#ffffff;
  button {
    overflow: visible;
  }

  button, select {
    text-transform: none;
  }

  button, input, select, textarea {
    color: #ffffff;
    font: inherit;
    margin: 0;
  }

  input {
    line-height: normal;
  }

  textarea {
    overflow: auto;
  }

  form {
    padding: 37.5px;
    font-family: "Lusitana", Sans-serif;
  }
}
@media screen and (max-width: 500px){
  .forma form {
    padding: 1px;
  }
}
#container {
  border: solid 3px #ffffff;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}


.underline {
  border-bottom: solid 2px #ffffff;
  margin: 0em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #ffffff;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
  float: right;
  width: 45%;
}

input[type='text'], [type='email'], select, textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #ffffff;
  color: #ffffff;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

.name {
  float: left;
  width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

:-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ffffff;
}

#form_button {
  background: none;
  border: solid 2px #ffffff;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:20px;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  .forma{
    text-align: center;
  }

  .icon {
    height: 35px;
    width: 35px;
  }

  .underline {
    width: 53px;
  }

  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }

}
.slider{
  text-align:center;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  label {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: solid 2px #ddd;
    border-radius: 999px;
    background-color: transparent;
    margin: 55vh 6px 0 6px;
    z-index: 2;
    cursor: pointer;
    transition-duration: .4s;
  }

  input:checked + label{
    background-color: white;
  }

  input:focus + label{
    box-shadow: 0 0 0 2px teal, 0 0 18px white;
  }

  .slide {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 75%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-100%);
    transition-duration: .4s;
    opacity: 1;
  }

  input:checked ~ .slide {
    //transform: translateX(100%);
  }

  input:checked + label + .slide {
    transform: translateX(0);
    opacity: 1;
  }

  .bg1{
    background: image-url("dapper1.webp");
    background-size:40%;
    background-color:white;
    margin-top:40px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .bg2{
    background: image-url("dapper2.webp");
    background-size:40%;
    background-color:white;
    margin-top:40px;
    background-repeat: no-repeat;
    background-position: center center;
  }
   .bg3{
   background: image-url("dapper3.webp");
   background-size:40%;
    background-color:white;
    margin-top:40px;
    background-repeat: no-repeat;
    background-position: center center;
  }
   .bg4{
    background: image-url("dapper4.webp");
    background-size:40%;
    background-color:white;
    margin-top:40px;
    background-repeat: no-repeat;
    background-position: center center;
  }
   .bg5{
    background: image-url("dapper5.webp");
    background-size:40%;
    background-color:white;
    margin-top:40px;
    background-repeat: no-repeat;
    background-position: center center;
  }
   .bg6{
    background: image-url("dapper6.webp");
    background-size:40%;
    background-color:white;
    margin-top:40px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .bg7{
    background: image-url("dapper7.webp");
    background-size:40%;
    background-color:white;
    margin-top:40px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .bg8{
    background: image-url("dapper8.webp");
    background-size:40%;
    background-color:white;
    margin-top:40px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .bg9{
    background: image-url("tigi1.webp");
    background-size:40%;
    background-color:white;
    margin-top:40px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .bg10{
    background: image-url("tigi2.webp");
    background-size:40%;
    background-color:white;
    margin-top:40px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .bg11{
    background: image-url("tigi3.webp");
    background-size:30%;
    background-color:white;
    margin-top:40px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media screen and (max-width: 600px){
  .slider .bg1{
    background-size:100%;
  }
  .slider .bg2{
    background-size:100%;
  }
  .slider .bg3{
   background-size:100%;
  }
  .slider .bg4{
    background-size:100%;
  }
  .slider .bg5{
    background-size:100%;
  }
  .slider .bg6{
    background-size:100%;
  }
  .slider .bg7{
    background-size:100%;
  }
  .slider .bg8{
    background-size:100%;
  }
  .slider .bg9{
    background-size:100%;
  }
  .slider .bg10{
    background-size:100%;
  }
  .slider .bg11{
    background-size:80%;
  }
}
.grey_color{
  color:red;
}

.dashed-shadow {

  position: relative;
  top: 8px;
  left: 8px;
  display: inline-block;
  color: #ba9186;
}

@keyframes dash-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.dashed-shadow:before {
  content: " ";
  display: block;
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -2px;
  right: -2px;
  z-index: 1;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIxMi41JSIgc3RvcC1jb2xvcj0iI2U4ZTNjNyIvPjxzdG9wIG9mZnNldD0iMTIuNSUiIHN0b3AtY29sb3I9IiNlOGUzYzciIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSIzNy41JSIgc3RvcC1jb2xvcj0iI2U4ZTNjNyIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjM3LjUlIiBzdG9wLWNvbG9yPSIjZThlM2M3Ii8+PHN0b3Agb2Zmc2V0PSI2Mi41JSIgc3RvcC1jb2xvcj0iI2U4ZTNjNyIvPjxzdG9wIG9mZnNldD0iNjIuNSUiIHN0b3AtY29sb3I9IiNlOGUzYzciIHN0b3Atb3BhY2l0eT0iMC4wIi8+PHN0b3Agb2Zmc2V0PSI4Ny41JSIgc3RvcC1jb2xvcj0iI2U4ZTNjNyIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9Ijg3LjUlIiBzdG9wLWNvbG9yPSIjZThlM2M3Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(45deg, #e8e3c7 12.5%, rgba(232, 227, 199, 0) 12.5%, rgba(232, 227, 199, 0) 37.5%, #e8e3c7 37.5%, #e8e3c7 62.5%, rgba(232, 227, 199, 0) 62.5%, rgba(232, 227, 199, 0) 87.5%, #e8e3c7 87.5%);
  background-image: -webkit-linear-gradient(45deg, #e8e3c7 12.5%, rgba(232, 227, 199, 0) 12.5%, rgba(232, 227, 199, 0) 37.5%, #e8e3c7 37.5%, #e8e3c7 62.5%, rgba(232, 227, 199, 0) 62.5%, rgba(232, 227, 199, 0) 87.5%, #e8e3c7 87.5%);
  background-image: linear-gradient(45deg, #e8e3c7 12.5%, rgba(232, 227, 199, 0) 12.5%, rgba(232, 227, 199, 0) 37.5%, #e8e3c7 37.5%, #e8e3c7 62.5%, rgba(232, 227, 199, 0) 62.5%, rgba(232, 227, 199, 0) 87.5%, #e8e3c7 87.5%);
  background-size: 6px 6px;
}

.dashed-shadow:hover:before {
  animation: dash-animation 30s infinite linear;
}

.dashed-shadow:after {
  z-index: 2;
  content: attr(data-text);
  position: absolute;
  left: -8px;
  top: -8px;
  color: #b85b3f;
  text-shadow: 3px 3px #e8e3c7;
}

.hello {
  font-family: 'Cookie',cursive;
  font-size: 140pt;
}

.sorta-block {
  font-size: 50pt;
  line-height: 1.1em;
  -moz-transform: skew(0, -5deg);
  -ms-transform: skew(0, -5deg);
  -webkit-transform: skew(0, -5deg);
  transform: skew(0, -5deg);
  z-index: 3;
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
}

.sorta {
  margin-top:40px;
  border-top: 4px solid #b85b3f;
  border-bottom: 4px solid #b85b3f;
  text-transform: uppercase;
  z-index: 3;
  font-style: italic;
}

.hipsterish {
  font-family: 'Sancreek', cursive;
  font-size: 70pt;
}

.dashed-shadow-text {
  font-size: 140pt;
  line-height: 0.7em;
}

.shadow {
  font-size: 120pt;
  line-height: 0.8em;
}
