<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Radno Vrijeme</h3>
                        <ul>
                            <li>Pon–Petak: 09:00 – 20:00</li>
                            <li>Subota: 09:00 – 18:00</li>
                            <li>Nedelja: Zatvoreno</li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item text">
                        <h3>Kontakt</h3>
                        <p>Adresa: Trg heroja 31, Sarajevo 71000<br>
                          Bosna i Hercegovina<br>
                          Tel: 033 977 311</p>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>GoodLook</h3>
                        <p>Tim frizera u ulici Trg Heroja 31, u Sarajevu (Novo Sarajevo), nedaleko od tramvajske stanice hrasno, blizu Željinog stadiona.</p>
                    </div>
                    <div class="col item social">
                      <ul class="social-icons">
                        <li><a class="facebook" target="_blank" href="https://www.facebook.com/goodlookbeautystudio"><i class="fab fa-facebook"></i></a></li>
                        <li><a class="twitter" target="_blank" href="https://www.instagram.com/goodlook_team/"><i class="fab fa-instagram"></i></a></li>
                        <li><a class="dribbble" target="_blank" href="mailto:goodlook.mails@gmail.com"><i class="far fa-envelope"></i></a></li>
                      </ul>
                    </div>
                </div>
                <div class="last_row row d-flex justify-content-space-between align-items-end">
                  <div class="col-lg-6">
                    <p class="copyright">GoodLook Barbershop © 2021</p>
                  </div>
                  <div class="footer_ahmed col-lg-6">
                          <div class="box">
                              <div class="title">
                                  <span class="block"></span>
                                  <a href="https://www.linkedin.com/in/ahmedkucuk/" target="_blank" style="text-decoration: none;"><h1>Ahmed Kucuk<span></span></h1></a>
                              </div>
                              <div class="role">
                                  <div class="block"></div>
                                  <p>Fullstack Developer</p>
                              </div>
                          </div>
                      </div>
                </div>
            </div>
        </footer>
    </div>
