<div class="main_banner">
  <div class="container">
    <div class="main_banner_elements">
      <h1 class="banner_header">Cjenovnik</h1>
      <div class="line_home"> <%= image_tag "line.webp", :style => "width: 140px;margin-bottom: 20px;" %> </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="section_usluge row align-items-center justify-content-center">
    <div class="section_usluge_text col-lg-6 col-sm-12" style="text-align: center;">
        <h1 class="text_section_header">Naš<br>Cjenovnik</h1>
        <hr>
        <p class="text_section_para">Ostati prvi naša je vizija, i put kojim smo odabrali kročiti kroz svaki radni dan i za svakog novog klijenta.</p>
        <a class="button_main button_main_div" href="/kontakt" style="margin-bottom: 100px;">Rezerviši svoj termin <i aria-hidden="true" class="fas fa-cut ml-3"></i></a>
    </div>
    <div class="section_usluge_cijene col-lg-12 col-sm-12">
      <ul class="tilesWrap">
        <li>
          <h2>13KM</h2>
          <h3>Šišanje</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
        </li>
        <li>
          <h2>15KM</h2>
          <h3>Šišanje + Pranje Kose</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
        </li>
        <li>
          <h2>10KM</h2>
          <h3>Uređivanje Brade</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
        </li>
        <li>
          <h2>23KM</h2>
          <h3>Šišanje + Uređivanje Brade</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
        </li>
        <li>
          <h2>15KM</h2>
          <h3>Šišanje + Pranje Kose</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
        </li>
        <li>
          <h2>10KM</h2>
          <h3>Uređivanje Brade</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
        </li>
        <li>
          <h2>23KM</h2>
          <h3>Šišanje + Uređivanje Brade</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="proizvodi row align-items-center">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="proizvodi_main_image"></div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="line_home"> <%= image_tag "line.webp", :style => "width: 140px;margin-bottom: 20px;" %> </div>
      <h1 class="proizvodi_section_h">Dapper Dan <br>Matt Clay</h1>
      <p class="proizvodi_section_para">Strong Hold</p>
      <hr style="background-color: red; width: 50%; float: left;">
      <h3 class="proizvodi_section_cijena"><br>20KM</h3>
      <p class="proizvodi_section_desc">Dapper dan proizvod koji prkosi zakonima gravitacije. S malom količinom dobiti ćete puno. Mat efekt, čvrsto držanje, volumen i prirodni izgled. Ugodnog je mirisa i lako isperivo.</p>
      <ul>
        <li class="proizvodi_list"><i aria-hidden="true" class="fas fa-check check_icon"></i>Ugodan</li>
        <li class="proizvodi_list"><i aria-hidden="true" class="fas fa-check check_icon"></i>Cvrst</li>
        <li class="proizvodi_list"><i aria-hidden="true" class="fas fa-check check_icon"></i>Mat</li>
      </ul>
    </div>
  </div>

  <div class="proizvodi_topic">
    <h1 class="proizvodi_section_h" style="margin-top: 70px;">Ostali Proizvodi</h1>
    <hr class="topic_hr" style="background-color: red; width: 50%; margin-top:0px;">
    <p class="proizvodi_section_para"><br>S razlogom najbolji.</p>
  </div>

  <div class="proizvodi row justify-content-center">
    <div class="proizvodi_lines col-lg-4 col-md-6 col-sm-12">
      <div class="line_home"> <%= image_tag "detail4.webp", :style => "width: 120px;margin-bottom: 20px;" %> </div>
      <h1 class="proizvodi_section_h">GoodLook<br>Beard Oil</h1>
      <h3 class="proizvodi_section_cijena"><br>20.00 KM</h3>
      <hr style=" background-color: #1a2659;">
      <p class="proizvodi_section_desc">Ulje koje pomaže pri rastu brade.</p>
    </div>
    <div class="sec_image_white col-lg-4 col-md-6 col-sm-12">
      <div class="proizvodi_sec_image"></div>
    </div>
  </div>
  <div class="proizvodi row justify-content-center" style="margin-top: 70px;">
    <div class="sec_image_white col-lg-4 col-md-6 col-sm-12">
      <div class="proizvodi_sec_image_2"></div>
    </div>
    <div class="proizvodi_lines col-lg-4 col-md-6 col-sm-12">
      <div class="line_home"> <%= image_tag "detail2.webp", :style => "width: 120px;margin-bottom: 20px;" %> </div>
      <h1 class="proizvodi_section_h">Dapper Dan<br>Shine</h1>
      <h3 class="proizvodi_section_cijena"><br>15.00 KM</h3>
      <hr style=" background-color: #1a2659;">
      <p class="proizvodi_section_desc" style="margin-bottom:25px;">Provjereni i pouzdani proizvođači iz naše ponude jamstvo su uredne, njegovane i lijepe kose.</p>
       <a class="button_main button_main_div" href="/kontakt" style="margin-bottom: 100px;">Naruči sada<i aria-hidden="true" class="fas fa-cut ml-3"></i></a>
    </div>
  </div>

</div>
