<div class="container">
  <div class="hero">
    <div class="video_home">
      <div class="video_overlay">
        <%= video_tag "video123.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
      </div>
      <div class="background_overlay"></div>

    </div>
    <div class="text_section">
      <div class="text_video">
        <div width="100px" height="100px"><%= image_tag "Homepic1.png", :style => "width: 130px;margin-bottom: 20px;" %></div>
        <div class="line_home"> <%= image_tag "line.png", :style => "width: 160px;margin-bottom: 20px;" %> </div>
        <h1 class="hero-header">GoodLook<br>Barber<br>Shop</h1>
        <p class="hero-para">Više od obicnog frizera, nudimo vam klasicne usluge sa legendarnim stilom.</p>
        <a class="button_main button_main_div" href="/kontakt">Rezervacija <i aria-hidden="true" class="fas fa-cut ml-3"></i></a>
      </div>
    </div>
  </div>
</div>
