<div class="container">
  <div class="hero">
    <img src="/app/assets/images/detail1.png" width="197px" height="197px">
    <h1 class="hero-header">GoodLook<br>Barber<br>Shop</h1>
    <p class="hero-para">Više od obicnog frizera, nudimo vam klasicne usluge sa legendarnim stilom.</p>
    <button class="button">Rezervacija</button>
  </div>
</div>
