<div class="main_ah" style="position: relative;">
  <div class="slider">
    <input type="radio" id="trigger1" name="slider">
    <label for="trigger1"></label>
    <div class="slide bg1"><div class="sorta-block"><div data-text="31.00 KM"class="dashed-shadow sorta">31.00 KM</div></div></div>

    <input type="radio" id="trigger2" name="slider" checked autofocus>
    <label for="trigger2"></label>
    <div class="slide bg2"><div class="sorta-block"><div data-text="31.00 KM"class="dashed-shadow sorta">31.00 KM</div></div></div>

    <input type="radio" id="trigger3" name="slider">
    <label for="trigger3"></label>
    <div class="slide bg3"><div class="sorta-block"><div data-text="31.00 KM"class="dashed-shadow sorta">31.00 KM</div></div></div>

    <input type="radio" id="trigger4" name="slider">
    <label for="trigger4"></label>
    <div class="slide bg4"><div class="sorta-block"><div data-text="31.00 KM"class="dashed-shadow sorta">31.00 KM</div></div></div>

    <input type="radio" id="trigger5" name="slider">
    <label for="trigger5"></label>
    <div class="slide bg5"><div class="sorta-block"><div data-text="26.00 KM"class="dashed-shadow sorta">26.00 KM</div></div></div>

    <input type="radio" id="trigger6" name="slider">
    <label for="trigger6"></label>
    <div class="slide bg6"><div class="sorta-block"><div data-text="31.00 KM"class="dashed-shadow sorta">31.00 KM</div></div></div>

    <input type="radio" id="trigger7" name="slider">
    <label for="trigger7"></label>
    <div class="slide bg7"><div class="sorta-block"><div data-text="26.00 KM"class="dashed-shadow sorta">26.00 KM</div></div></div>

    <input type="radio" id="trigger8" name="slider">
    <label for="trigger8"></label>
    <div class="slide bg8"><div class="sorta-block"><div data-text="20.00 KM"class="dashed-shadow sorta">20.00 KM</div></div></div>

     <input type="radio" id="trigger9" name="slider">
    <label for="trigger9"></label>
    <div class="slide bg9"><div class="sorta-block"><div data-text="27.80 KM"class="dashed-shadow sorta">27.80 KM</div></div></div>

    <input type="radio" id="trigger10" name="slider">
    <label for="trigger10"></label>
    <div class="slide bg10"><div class="sorta-block"><div data-text="28.80 KM"class="dashed-shadow sorta">28.80 KM</div></div></div>

    <input type="radio" id="trigger11" name="slider">
    <label for="trigger11"></label>
    <div class="slide bg11"><div class="sorta-block"><div data-text="32.00 KM"class="dashed-shadow sorta">32.00 KM</div></div></div>
  </div>
</div>

<div class="container" style="margin-top:30px;">
  <div class="kontakt row align-items-center justify-content-center">
    <div class="info col-lg-6 col-md-6 col-sm-12">
      <h1 class="proizvodi_section_h" style="text-transform:inherit; margin-top:15px;">Poručite produkte<br>ili nas kontaktirajte</h1>
      <hr class="kontakt_hr" style="background-color: red; width: 50%;">
      <p class="proizvodi_section_para"><br></p>
      <ul>
        <li class="proizvodi_list" style="text-transform:inherit;"><i aria-hidden="true" class="fas fa-check check_icon"></i>Poručite svoj željeni produkt</li>
        <li class="proizvodi_list" style="text-transform:inherit;"><i aria-hidden="true" class="fas fa-check check_icon"></i>I mi ćemo vam dostaviti u roku od par dana</li>
        <li class="proizvodi_list" style="text-transform:inherit;"><i aria-hidden="true" class="fas fa-check check_icon"></i>Ili nam možete poslati samo vaš upit putem E-Maila</li>
      </ul>
    </div>
    <div class="forma col-lg-6 col-md-6 col-sm-12">
          <h1 class="proizvodi_section_h" style="text-align: center; margin-top: 40px;">&bull; Kontakt &bull;</h1>
          <div class="underline"></div>
          <form action="https://formspree.io/f/mjvjvrzb" method="POST" id="contact_form">
            <div class="name">
              <label for="name"></label>
              <input type="text" placeholder="Ime:" name="name" id="name_input" required>
            </div>
            <div class="email">
              <label for="email"></label>
              <input type="email" placeholder="E-mail:" name="email" id="email_input" required>
            </div>
            <div class="telephone">
              <label for="name"></label>
              <input type="text" placeholder="Telefon:" name="telephone" id="telephone_input" required>
            </div>
            <div class="subject">
              <label for="subject"></label>
              <select placeholder="Subject line" name="subject" id="subject_input" optional>
                <option disabled hidden selected>Proizvod </option>
                <option style="color: black"><span class="grey_color">GoodLook Beard Oil 17.00 KM</span></option>
                <option style="color: black">GoodLook Krema 20.00 KM</option>
                <option style="color: black">DapperDan Matt Clay 31.00 KM</option>
                <option style="color: black">DapperDan Deluxe Pomade 31.00 KM</option>
                <option style="color: black">DapperDan Matt Paste 31.00 KM</option>
                <option style="color: black">DapperDan Heavy Hold Pomade 31.00 KM</option>
                <option style="color: black">DapperDan Ultra Matte Krema 31.00 KM</option>
                <option style="color: black">DapperDan Ultra Matte Puder 26.00 KM</option>
                <option style="color: black">DapperDan Grooming Tonic 31.00 KM</option>
                <option style="color: black">DapperDan Sea Salt 26.00 KM</option>
                <option style="color: black">DapperDan Vegetable Soap 20.00 KM</option>
                <option style="color: black">TIGI Manipulator 27.80 KM</option>
                <option style="color: black">TIGI Manipulator Matte 28.80 KM</option>
                <option style="color: black">TIGI Hair Stick 32.00 KM</option>
              </select>
            </div>
            <div class="telephone">
              <label for="name"></label>
              <input type="text" placeholder="Adresa" name="address" id="address_input" optional>
            </div>
            <div class="message">
              <label for="message"></label>
              <textarea name="message" placeholder="Vise informacija:" id="message_input" cols="30" rows="5" required></textarea>
            </div>
            <div class="submit" style="text-align:center; margin-top:12px">
              <input type="submit" class="button_main" value="Pošalji Poruku" style="text-align: center;" />
            </div>
          </form>
    </div>
  </div>

  <div class="mapa_info row align-items-center justify-content-center">
    <div class="info col-lg-6 col-md-6 col-sm-12">
      <div class="line_home"> <i class="fa fa-map mapaicon" aria-hidden="true"></i> </div>
      <h1 class="proizvodi_section_h">GoodLook<br>Barbershop</h1>
      <hr class="kontakt_hr" style="background-color: red; width: 50%;">
      <p class="proizvodi_section_para"><br>Trg Heroja 31, Sarajevo 71000</p>
      <ul>
        <li class="proizvodi_list" style="text-transform:inherit;"><i aria-hidden="true" class="fas fa-check check_icon"></i>goodlook.mails@gmail.com</li>
        <li class="proizvodi_list"><i aria-hidden="true" class="fas fa-check check_icon"></i>Pon-Pet 09:00 - 20:00 / Sub 09:00 - 18:00 / Ned - Zatvoreno</li>
        <li class="proizvodi_list"><i aria-hidden="true" class="fas fa-check check_icon"></i>033 977 311</li>
      </ul>
    </div>
    <div class="mapa col-lg-6 col-md-6 col-sm-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.677063521806!2d18.383199043654056!3d43.847903306185614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758c910ecfe32cd%3A0xbe553cd43bdc6657!2sGoodLook!5e0!3m2!1sbs!2sba!4v1617197308017!5m2!1sbs!2sba" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>
