<div class="main_banner">
  <div class="container">
    <div class="main_banner_elements">
      <h1 class="banner_header">Rezervacija</h1>
      <div class="line_home"> <%= image_tag "line.webp", :style => "width: 140px;margin-bottom: 20px;" %> </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="proizvodi_topic" style="text-align: center;">
    <h1 class="proizvodi_section_h" style="margin-top: 70px;">Online rezervacije</h1>
    <p class="proizvodi_section_para">Prvi u regionu sa online rezervacijama.</p>
    <hr style="background-color: red; width: 50%;">
    <p class="text_section_para">Izvrsite svoju rezervaciju putem telefona 033 977 311 ili ONLINE.<br> A mi cemo vam u kratkom vremenskom periodu preko emaila odobriti rezervaciju.<br> U svakom slucaju sigurni smo da cete naci svoj termin!  </p>
  </div>

<div class="calendly-inline-widget" data-url="https://calendly.com/ahmed-kucuk123?hide_landing_page_details=1&hide_gdpr_banner=1&background_color=090e23&text_color=ffffff&primary_color=d32c15" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>

</div>
