.tilesWrap {
  padding: 0;
  margin: 50px auto;
  list-style: none;
  text-align: center;
}
.tilesWrap li {
  display: inline-block;
  width: 100%;
  min-width: 200px;
  padding: 20px 20px 20px;
  position: relative;
  vertical-align: top;
  margin: 10px;
  font-family: 'helvetica', san-serif;
  background: #090e23;
  border: 1px solid #090e24;
  text-align: left;
  font-family: "Lusitana", Sans-serif;
}
.tilesWrap li h2 {
  font-size: 50px;
  margin: 0;
  position: absolute;
  opacity: 0.8;
  top: 50px;
  right: 10px;
  transition: all 0.3s ease-in-out;
  color:#ffffff;
  font-family: "Lusitana", Sans-serif;
}
.tilesWrap li h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
  font-family: "Rozha One", Sans-serif;
}
.tilesWrap li p {
  font-size: 16px;
  line-height: 18px;
  color: #b7b7b7;
  margin-top: 5px;
}
.tilesWrap li:hover h2 {
  top: 0px;
  opacity: 1;
}
.tilesWrap li:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: #fff;
  transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
  content: '';
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.02);
}
.tilesWrap li:nth-child(1):before {
  background: #D3312C;
}
.tilesWrap li:nth-child(2):before {
  background: #fff;
}
.tilesWrap li:nth-child(3):before {
  background: #276AC4;
}
.tilesWrap li:nth-child(4):before {
  background: #FC354C;
}
.tilesWrap li:nth-child(5):before {
  background: #fff;
}
.tilesWrap li:nth-child(6):before {
  background: #276AC4;
}
.tilesWrap li:nth-child(7):before {
  background: #FC354C;
}
.tilesWrap li:nth-child(8):before {
  background: #fff;
}
.tilesWrap li:nth-child(9):before {
  background: #276AC4;
}
@media screen and (max-width: 600px) {
 .tilesWrap li{
    margin:10px 0;
  }
  .tilesWrap li p {
    width:60%;
  }
}




